@{
    ViewBag.Title = "База данных рекламных объектов - Добро пожаловать";
}

<div class="jumbotron">
    <h2>Добро пожаловать!</h2>
    <p>
        @{
            var date = "Cегодня " + DateTime.Now.ToShortDateString();
        }
        @date
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Биллборды</h2>
        <p>Смотрите, добавляйте, редактируйте, удаляйте.</p>
        <p><a class="btn btn-info" href="@Url.Action("Index", "Billboards")">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Карта объектов</h2>
        <p>Наглядная информация о размещении объектов, гибкий поиск и подробная информация о каждом объекте.</p>
        <p><a class="btn btn-info" href="../Map">Перейти &raquo;</a></p>
    </div>
</div>
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year – <a href="http://scom.by" target="_blank">"OnCloud"</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@</p>
</footer>