@{
    ViewBag.Title = "База данных рекламных объектов - Добро пожаловать";
    var date = "Cегодня " + DateTime.Now.ToShortDateString();
    var time = "Время    " + DateTime.Now.TimeOfDay.ToString(@"hh\:mm");
}

<div class="jumbotron">
    <h2>Добро пожаловать!</h2>
    <p>
        @date &nbsp;&nbsp;@time
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Таблица рекламных конструкций</h3>
        <p></p>
        <p><a class="btn btn-info" href="../Data/Bilboard">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Карта рекламных конструкций</h3>
        <p></p>
        <p><a class="btn btn-info" href="#">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Отчеты</h3>
        <p></p>
        <p><a class="btn btn-info" href="#">Перейти &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Администрирование</h3>
        <p></p>
        <p><a class="btn btn-info" href="#">Перейти &raquo;</a></p>
    </div>
</div>
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year – <a href="http://scom.by" target="_blank">"OnCloud"</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@</p>
</footer>