@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    ymaps.ready(init);
    var myMap;
    var myPlacemark;
    var Arr = [[]];
    var counterArr = 0;

    function init() {


        myMap = new ymaps.Map("map", {
            center: [53.9172, 27.5601],
            zoom: 11,
            controls:[]
        });

        myMap.events.add('click', function (e) {

            var coords = e.get('coords');
    
            Arr[counterArr] = [coords[0].toPrecision(6), coords[1].toPrecision(6)];

            counterArr++;
            if (Arr.length == 2) {

                ymaps.route([
                    Arr[0],
                    Arr[1]
                            ],
                        {
                            mapStateAutoApply: true

                        }
                    ).then(
                    function (route) {
                        route.getPaths().options.set({

                            //можно выставить настройки графики маршруту
                            strokeColor: '0000ffff',
                            opacity: 0.9
                        });
                        myMap.geoObjects.add(route);
                    },
                    function (error) {
                        alert("Возникла ошибка: " + error.message);
                    });
                Arr = [];
            }

        });

    }


        function search() {
            if (myPlacemark != undefined) {

                myMap.geoObjects.remove(myPlacemark);
            }
            var location = $("#city").val().toString() + " " + $("#street").val().toString();
            var myGeocoder = ymaps.geocode(location);
           
            myGeocoder.then(
                function (res) {

                    myPlacemark = new ymaps.GeoObject({
                        geometry: {
                            type: "Point",// тип геометрии - точка
                            coordinates: [res.geoObjects.get(0).geometry.getCoordinates()[0], res.geoObjects.get(0).geometry.getCoordinates()[1]] // координаты точки
                        }},
     
                     { draggable: true });

                  
                    myMap.geoObjects.add(myPlacemark);
                    myMap.setCenter([res.geoObjects.get(0).geometry.getCoordinates()[0], res.geoObjects.get(0).geometry.getCoordinates()[1]], 14);
                });

        }
    
</script>

@Html.Label("Выбирите город",new {@for="city"}) @Html.TextBox(" ",null,new {id="city"})

@Html.Label("Выбирите улицу", new { @for = "street" }) @Html.TextBox(" ", null, new { id = "street" })
<input type="button" value="Поиск" onclick="search()"/>
<div id="map" style="width: 60%; height: 600px"></div>