
@{
    ViewBag.Title = "404 - Документ отсутствует";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Конструкция не найдена.</h2>
<br/>
@Html.ActionLink("Перейти к таблице конструкций", "AdvertisingDesign", "Data")

