<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Sciencecom-20140612112438.mdf;Initial Catalog=aspnet-Sciencecom-20140612112438;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Models.Users.UsersModel.csdl|res://*/Models.Users.UsersModel.ssdl|res://*/Models.Users.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\aspnet-Sciencecom-20140612112438.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SciencecomEntities" connectionString="metadata=res://*/Models.ContructionsModel.csdl|res://*/Models.ContructionsModel.ssdl|res://*/Models.ContructionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=w05.hosterby.com;Database=adbaseby_Sciencecom;User id=adbaseby_scom;Password=111457789;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SciencecomEntities" connectionString="metadata=res://*/Models.ContructionsModel.csdl|res://*/Models.ContructionsModel.ssdl|res://*/Models.ContructionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=m-pc\m;initial catalog=Constructions;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SciencecomEntities" connectionString="metadata=res://*/Models.ContructionsModel.csdl|res://*/Models.ContructionsModel.ssdl|res://*/Models.ContructionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RUBANAU-DESKTOP\ST;Database=adbaseby_Sciencecom;User id=sa;Password=1qaz@WSX;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--HOLLAND-->
    <!--<add name="DefaultConnection" connectionString="Data Source=188.121.62.124;Initial Catalog=SilverlightTMS_TEST2;Persist Security Info=True;User ID=sa;Password=B7E[#c)|gA%.#:h" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.Users.UsersModel.csdl|res://*/Models.Users.UsersModel.ssdl|res://*/Models.Users.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=188.121.62.124;Initial Catalog=SilverlightTMS_TEST2;Persist Security Info=True;User ID=sa;Password=B7E[#c)|gA%.#:h;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SciencecomEntities" connectionString="metadata=res://*/Models.ContructionsModel.csdl|res://*/Models.ContructionsModel.ssdl|res://*/Models.ContructionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=188.121.62.124;Initial Catalog=SilverlightTMS_TEST2;Persist Security Info=True;User ID=sa;Password=B7E[#c)|gA%.#:h;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--RUBANAU-DESKTOP-->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Sciencecom-20140612112438.mdf;Initial Catalog=aspnet-Sciencecom-20140612112438;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.Users.UsersModel.csdl|res://*/Models.Users.UsersModel.ssdl|res://*/Models.Users.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Sciencecom-20140612112438.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SciencecomEntities" connectionString="metadata=res://*/Models.ContructionsModel.csdl|res://*/Models.ContructionsModel.ssdl|res://*/Models.ContructionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Sciencecom.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>

    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="163840" />
    <!--<customErrors  mode="off">
      <error statusCode="404"
             redirect="Error"/>
    </customErrors>-->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>