<div id="DeleteStructures" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удаление конструкции</h4>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить эту конструкцию?&hellip;</p>
            </div>
            <div class="modal-footer">
                <a href="/Data/DeleteAdvertisingDesign" class="btn btn-danger ">Да, удалить</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
